* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
html {
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
}

/* Adiciona a margem superior inicial */
.navbar-toggler {
    transition: margin-top 0.3s ease;
}

/* Adiciona a margem superior quando a classe mt-5 for aplicada */
.mt-5.scrolled {
    margin-top: 0px !important;
}


.myBackground {
    background-image: url(assets/img7.jpeg);
    height: 78vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    box-shadow: inset 0 -899px 0 590px rgb(0, 0, 0, 0.75);
}


.active {
    text-align: center;
    font-size: 1.2rem;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.tilutoprincipal {
    margin: -510px 0px 0px 0px;
    margin-bottom: 15rem;
    text-align: center;
    font-size: 10px;
    color: #ffff;
    font: 1em "Roboto", sans-serif;
}

.h5,
h5 {
    font-size: 1.1rem;
}

h1 {
    margin-bottom: 4rem;
    margin-top: 2rem;
}

.partiservicos {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    max-width: 960px;
    margin: auto;
}

.img-fluid {
    max-width: 100%;
    height: auto;
}


.imgserviços {
    border-radius: 10px;
    border-bottom: 5px solid blue;
    box-shadow: 10px 10px 0px rgba(0, 0, 0, .25);
    margin-bottom: 1rem;
}

h2,
h4 {
    font-size: 2rem;
    margin-left: 2.5rem;
    margin-bottom: 1px;
}

p,
.btn-primary {
    margin-left: 1.5rem;
    font-size: 1rem;
}

.paragrafoFinal {
    text-align: center;
}

.nossosserviços {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

.nossosserviços img {
    border-radius: 10px;
    border-bottom: 5px solid blue;
    margin-bottom: 1rem;
}

.img1,
.img2,
.img3,
.img4 {
    border: solid;
    padding: inherit;
    padding: 20px 10px;
    height: 100%;
    width: 80%;
    margin-left: 2.5rem;
}

/* icon de whatsapp */
.center-icon {
    position: fixed;
    top: 44%;
    transform: translateY(-50%);
    right: 1.5rem;

}

.center-icon svg {
    fill: green;
    margin-top: 15rem;
    margin-right: 1rem;
}


/* Exemplo de animação de rotação personalizada */
@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes quica {

    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(20%);
    }
}

.navbar-brand img {
    animation: quica 3s cubic-bezier(0.165, 0.84, 0.44, 1) infinite;
    width: 50px;
    height: 50px;
}




@keyframes pulse {

    0%,
    100% {
        border: 2px solid transparent;
    }

    50% {
        border: 2px solid #4CAF50;
    }
}

.center-icon {
    display: flex;
    justify-content: center;
    align-items: center;
}

.bi-whatsapp {
    border-radius: 50%;
    animation: pulse 1s infinite;
}


/* responsividade */


@media (min-width: 768px) {
    .row-cols-md-3>* {
        flex: 0 0 auto;
        width: 100%;
    }
}

@media (min-width: 576px) {
    .row-cols-sm-2>* {
        flex: 0 0 auto;
        width: 100%;
    }
}


@media (min-width: 992px) {
    .partiservicos .container .row>div {
        display: flex;
        width: 100%;
        height: auto;
        margin: 1rem;

    }

    .tilutoprincipal {
        margin: -400px 0px 0px 0px;
    }

    .imgserviços {
        margin-right: 7rem;
        margin-left: -4rem;
    }

    .nossosserviços img {
        width: 100%;
        max-height: 36rem;
        margin-left: 0rem;
    }
}